nav {
  background-color: black; 
  padding: 10px 0; 
}


nav a {
  color: white; 
  text-decoration: none; 
  padding: 10px 20px;
  transition: background-color 0.3s; /
}


nav a:hover {
  background-color: rgb(128, 0, 0); 
}


nav a.active {
  background-color: aqua; 
}

body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #272727;
        }

        form {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            padding: 40px;
            transform: translate(-50%, -50%);
            background: rgba(0,0,0,.5);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
        }

        form h2 {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
        }

        form .user-box {
            position: relative;
        }

        form .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
        form .user-box label {
            position: absolute;
            top:0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        form .user-box input:focus ~ label,
        form .user-box input:valid ~ label {
            top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
        }

        form input[type="submit"] {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            color: red;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            margin-top: 40px;
            letter-spacing: 4px;
             background: linear-gradient(#141e30, #243b55);
        }

        form input[type="submit"]:hover {
            background: #03e9f4;
        }

        .error-message {
            color: red;
            text-align: center;
        }
