@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}


body {
    background-color: #6e6868;
    margin: 0;
    padding: 0;
}

h3 {
    &.title-section {
        background-color: darkcyan;
        color: white;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
}

p {
    &.message {
        position: relative;
        padding: 2px 10px;
        border-radius: 25px;
        width: max-content;
        margin-bottom: 5px;
        max-width: 100%;
        &.me {
            margin-right: 0;
            background-color: cornflowerblue;
            color: white;
        }

        &.other {
            background-color: azure;
            color: black;
        }

        &.server {
            background-color: azure;
            color: white;
        }
    }
}


main {
    width: 100%;
    display: flex;
    min-height: 500px;
}

section {
    &.content-page {
        display: flex;
        justify-content: center;
    }
}

article {
    background-color: #6c6b6b;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    width: 20%;
    height: 100vh;
}

button {
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}


div {
    &#doc {
        width: 640px;
        min-height: 600px;
        padding: 50px 30px;
        background-color: white;
        box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.48);
    }

    &#chat {
        height: 77vh;
    }

    &.content-chat {
        background-color: white;
        min-height: 100%;
        width: 100%;
    }
}

form {
    &#sendMsg {
        background-color: white;
        top: 5px;
        display: flex;
        justify-content: center;
    }
}
button {
    background-color: #ffeb80;
    text-align: center;
    padding: 2px;
}

nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

button.delete-element{
    background-color: rgb(188, 90, 90);
    color: white;
    position: absolute;
    left: 200px;
}


